#main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(210, 213, 216);
    display: flex;
    justify-content: center;
}
.container{
    min-width: 360px;
    width: 540px;
    height: 100%;
    margin: auto;
    background-color: white;
}
.content{
 
}
.form{
    width: 100%;
    height: 100%;
    padding: 15px; 
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 16px;
}
.form-title{
    color: var(--title-color);
    text-align: center;
    margin: 0 0 16px;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-label{
    margin-top: 10px;
}
.form-control{
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 8px;
    margin-top: 4px;
    color: var(--text-color);
    font-size: 16px;
}
.form-group.error .form-control{
    border-color: red;
}
.form-group.success .form-control{
    border-color: aqua;
}
.form-message{
    display: inline-block;
    height: 12px;
    font-size: 12px;
    color: red;
}
#form-submit{
    margin-top: 18px;
    padding: 8px 0;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
#form-submit.disabled{
    color: #817d7d;
    background-color: rgb(189 189 184);
}